{{#each exercises}}
<article>
    <header>
        <a href="/exercise/{{rowid}}">{{name}}</a>
        <a href="/exercise/{{rowid}}/edit">Editar</a>
        <a href="#" hx-delete="/exercise/{{rowid}}">Remover</a>
    </header>
    {{description}}
</article>
{{/each}}